.reports-wrapper .form-control {
    box-shadow: none;
}

.reports-wrapper .form-control.auto-height {
    height: auto;
}

.reports-wrapper .form-control:focus {
    box-shadow: none;
}

.reports-wrapper .form-control::-moz-placeholder,
.reports-wrapper .form-control:-ms-input-placeholder,
.reports-wrapper .form-control::-webkit-input-placeholder {
    color: #bbb;
    opacity: 1;
}

.reports-wrapper .form-control:not(select) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.reports-wrapper .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.reports-wrapper .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.reports-wrapper .modal-content {
    border: 0;
}

.reports-wrapper .modal-content .row {
    padding: 15px 0;
}

.reports-wrapper .modal-header,
.reports-wrapper .modal-footer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.reports-wrapper .modal-header {
    border-bottom-color: transparent;
}

.reports-wrapper .modal-header .close {
    margin-top: -5px;
    font-size: 35px;
    font-weight: 400;
}

.reports-wrapper .modal-footer .btn + .btn {
    margin-bottom: 0;
    margin-left: 5px;
}

.reports-wrapper .modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}

@media (min-width: 992px) {
    .reports-wrapper .modal-lg {
        width: 900px;
    }
}

.reports-wrapper .row {
    margin-right: -15px;
    margin-left: -15px;
}

.reports-wrapper .col-xs-1,
.reports-wrapper .col-sm-1,
.reports-wrapper .col-md-1,
.reports-wrapper .col-lg-1,
.reports-wrapper .col-xs-2,
.reports-wrapper .col-sm-2,
.reports-wrapper .col-md-2,
.reports-wrapper .col-lg-2,
.reports-wrapper .col-xs-3,
.reports-wrapper .col-sm-3,
.reports-wrapper .col-md-3,
.reports-wrapper .col-lg-3,
.reports-wrapper .col-xs-4,
.reports-wrapper .col-sm-4,
.reports-wrapper .col-md-4,
.reports-wrapper .col-lg-4,
.reports-wrapper .col-xs-5,
.reports-wrapper .col-sm-5,
.reports-wrapper .col-md-5,
.reports-wrapper .col-lg-5,
.reports-wrapper .col-xs-6,
.reports-wrapper .col-sm-6,
.reports-wrapper .col-md-6,
.reports-wrapper .col-lg-6,
.reports-wrapper .col-xs-7,
.reports-wrapper .col-sm-7,
.reports-wrapper .col-md-7,
.reports-wrapper .col-lg-7,
.reports-wrapper .col-xs-8,
.reports-wrapper .col-sm-8,
.reports-wrapper .col-md-8,
.reports-wrapper .col-lg-8,
.reports-wrapper .col-xs-9,
.reports-wrapper .col-sm-9,
.reports-wrapper .col-md-9,
.reports-wrapper .col-lg-9,
.reports-wrapper .col-xs-10,
.reports-wrapper .col-sm-10,
.reports-wrapper .col-md-10,
.reports-wrapper .col-lg-10,
.reports-wrapper .col-xs-11,
.reports-wrapper .col-sm-11,
.reports-wrapper .col-md-11,
.reports-wrapper .col-lg-11,
.reports-wrapper .col-xs-12,
.reports-wrapper .col-sm-12,
.reports-wrapper .col-md-12,
.reports-wrapper .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.reports-wrapper .col-xs-1,
.reports-wrapper .col-xs-2,
.reports-wrapper .col-xs-3,
.reports-wrapper .col-xs-4,
.reports-wrapper .col-xs-5,
.reports-wrapper .col-xs-6,
.reports-wrapper .col-xs-7,
.reports-wrapper .col-xs-8,
.reports-wrapper .col-xs-9,
.reports-wrapper .col-xs-10,
.reports-wrapper .col-xs-11,
.reports-wrapper .col-xs-12 {
    float: left;
}

.reports-wrapper .col-xs-12 {
    width: 100%;
}

.reports-wrapper .col-xs-11 {
    width: 91.66666667%;
}

.reports-wrapper .col-xs-10 {
    width: 83.33333333%;
}

.reports-wrapper .col-xs-9 {
    width: 75%;
}

.reports-wrapper .col-xs-8 {
    width: 66.66666667%;
}

.reports-wrapper .col-xs-7 {
    width: 58.33333333%;
}

.reports-wrapper .col-xs-6 {
    width: 50%;
}

.reports-wrapper .col-xs-5 {
    width: 41.66666667%;
}

.reports-wrapper .col-xs-4 {
    width: 33.33333333%;
}

.reports-wrapper .col-xs-3 {
    width: 25%;
}

.reports-wrapper .col-xs-2 {
    width: 16.66666667%;
}

.reports-wrapper .col-xs-1 {
    width: 8.33333333%;
}

.reports-wrapper .col-xs-pull-12 {
    right: 100%;
}

.reports-wrapper .col-xs-pull-11 {
    right: 91.66666667%;
}

.reports-wrapper .col-xs-pull-10 {
    right: 83.33333333%;
}

.reports-wrapper .col-xs-pull-9 {
    right: 75%;
}

.reports-wrapper .col-xs-pull-8 {
    right: 66.66666667%;
}

.reports-wrapper .col-xs-pull-7 {
    right: 58.33333333%;
}

.reports-wrapper .col-xs-pull-6 {
    right: 50%;
}

.reports-wrapper .col-xs-pull-5 {
    right: 41.66666667%;
}

.reports-wrapper .col-xs-pull-4 {
    right: 33.33333333%;
}

.reports-wrapper .col-xs-pull-3 {
    right: 25%;
}

.reports-wrapper .col-xs-pull-2 {
    right: 16.66666667%;
}

.reports-wrapper .col-xs-pull-1 {
    right: 8.33333333%;
}

.reports-wrapper .col-xs-pull-0 {
    right: auto;
}

.reports-wrapper .col-xs-push-12 {
    left: 100%;
}

.reports-wrapper .col-xs-push-11 {
    left: 91.66666667%;
}

.reports-wrapper .col-xs-push-10 {
    left: 83.33333333%;
}

.reports-wrapper .col-xs-push-9 {
    left: 75%;
}

.reports-wrapper .col-xs-push-8 {
    left: 66.66666667%;
}

.reports-wrapper .col-xs-push-7 {
    left: 58.33333333%;
}

.reports-wrapper .col-xs-push-6 {
    left: 50%;
}

.reports-wrapper .col-xs-push-5 {
    left: 41.66666667%;
}

.reports-wrapper .col-xs-push-4 {
    left: 33.33333333%;
}

.reports-wrapper .col-xs-push-3 {
    left: 25%;
}

.reports-wrapper .col-xs-push-2 {
    left: 16.66666667%;
}

.reports-wrapper .col-xs-push-1 {
    left: 8.33333333%;
}

.reports-wrapper .col-xs-push-0 {
    left: auto;
}

.reports-wrapper .col-xs-offset-12 {
    margin-left: 100%;
}

.reports-wrapper .col-xs-offset-11 {
    margin-left: 91.66666667%;
}

.reports-wrapper .col-xs-offset-10 {
    margin-left: 83.33333333%;
}

.reports-wrapper .col-xs-offset-9 {
    margin-left: 75%;
}

.reports-wrapper .col-xs-offset-8 {
    margin-left: 66.66666667%;
}

.reports-wrapper .col-xs-offset-7 {
    margin-left: 58.33333333%;
}

.reports-wrapper .col-xs-offset-6 {
    margin-left: 50%;
}

.reports-wrapper .col-xs-offset-5 {
    margin-left: 41.66666667%;
}

.reports-wrapper .col-xs-offset-4 {
    margin-left: 33.33333333%;
}

.reports-wrapper .col-xs-offset-3 {
    margin-left: 25%;
}

.reports-wrapper .col-xs-offset-2 {
    margin-left: 16.66666667%;
}

.reports-wrapper .col-xs-offset-1 {
    margin-left: 8.33333333%;
}

.reports-wrapper .col-xs-offset-0 {
    margin-left: 0;
}

@media (min-width: 768px) {
    .reports-wrapper .col-sm-1,
    .reports-wrapper .col-sm-2,
    .reports-wrapper .col-sm-3,
    .reports-wrapper .col-sm-4,
    .reports-wrapper .col-sm-5,
    .reports-wrapper .col-sm-6,
    .reports-wrapper .col-sm-7,
    .reports-wrapper .col-sm-8,
    .reports-wrapper .col-sm-9,
    .reports-wrapper .col-sm-10,
    .reports-wrapper .col-sm-11,
    .reports-wrapper .col-sm-12 {
        float: left;
    }

    .reports-wrapper .col-sm-12 {
        width: 100%;
    }

    .reports-wrapper .col-sm-11 {
        width: 91.66666667%;
    }

    .reports-wrapper .col-sm-10 {
        width: 83.33333333%;
    }

    .reports-wrapper .col-sm-9 {
        width: 75%;
    }

    .reports-wrapper .col-sm-8 {
        width: 66.66666667%;
    }

    .reports-wrapper .col-sm-7 {
        width: 58.33333333%;
    }

    .reports-wrapper .col-sm-6 {
        width: 50%;
    }

    .reports-wrapper .col-sm-5 {
        width: 41.66666667%;
    }

    .reports-wrapper .col-sm-4 {
        width: 33.33333333%;
    }

    .reports-wrapper .col-sm-3 {
        width: 25%;
    }

    .reports-wrapper .col-sm-2 {
        width: 16.66666667%;
    }

    .reports-wrapper .col-sm-1 {
        width: 8.33333333%;
    }

    .reports-wrapper .col-sm-pull-12 {
        right: 100%;
    }

    .reports-wrapper .col-sm-pull-11 {
        right: 91.66666667%;
    }

    .reports-wrapper .col-sm-pull-10 {
        right: 83.33333333%;
    }

    .reports-wrapper .col-sm-pull-9 {
        right: 75%;
    }

    .reports-wrapper .col-sm-pull-8 {
        right: 66.66666667%;
    }

    .reports-wrapper .col-sm-pull-7 {
        right: 58.33333333%;
    }

    .reports-wrapper .col-sm-pull-6 {
        right: 50%;
    }

    .reports-wrapper .col-sm-pull-5 {
        right: 41.66666667%;
    }

    .reports-wrapper .col-sm-pull-4 {
        right: 33.33333333%;
    }

    .reports-wrapper .col-sm-pull-3 {
        right: 25%;
    }

    .reports-wrapper .col-sm-pull-2 {
        right: 16.66666667%;
    }

    .reports-wrapper .col-sm-pull-1 {
        right: 8.33333333%;
    }

    .reports-wrapper .col-sm-pull-0 {
        right: auto;
    }

    .reports-wrapper .col-sm-push-12 {
        left: 100%;
    }

    .reports-wrapper .col-sm-push-11 {
        left: 91.66666667%;
    }

    .reports-wrapper .col-sm-push-10 {
        left: 83.33333333%;
    }

    .reports-wrapper .col-sm-push-9 {
        left: 75%;
    }

    .reports-wrapper .col-sm-push-8 {
        left: 66.66666667%;
    }

    .reports-wrapper .col-sm-push-7 {
        left: 58.33333333%;
    }

    .reports-wrapper .col-sm-push-6 {
        left: 50%;
    }

    .reports-wrapper .col-sm-push-5 {
        left: 41.66666667%;
    }

    .reports-wrapper .col-sm-push-4 {
        left: 33.33333333%;
    }

    .reports-wrapper .col-sm-push-3 {
        left: 25%;
    }

    .reports-wrapper .col-sm-push-2 {
        left: 16.66666667%;
    }

    .reports-wrapper .col-sm-push-1 {
        left: 8.33333333%;
    }

    .reports-wrapper .col-sm-push-0 {
        left: auto;
    }

    .reports-wrapper .col-sm-offset-12 {
        margin-left: 100%;
    }

    .reports-wrapper .col-sm-offset-11 {
        margin-left: 91.66666667%;
    }

    .reports-wrapper .col-sm-offset-10 {
        margin-left: 83.33333333%;
    }

    .reports-wrapper .col-sm-offset-9 {
        margin-left: 75%;
    }

    .reports-wrapper .col-sm-offset-8 {
        margin-left: 66.66666667%;
    }

    .reports-wrapper .col-sm-offset-7 {
        margin-left: 58.33333333%;
    }

    .reports-wrapper .col-sm-offset-6 {
        margin-left: 50%;
    }

    .reports-wrapper .col-sm-offset-5 {
        margin-left: 41.66666667%;
    }

    .reports-wrapper .col-sm-offset-4 {
        margin-left: 33.33333333%;
    }

    .reports-wrapper .col-sm-offset-3 {
        margin-left: 25%;
    }

    .reports-wrapper .col-sm-offset-2 {
        margin-left: 16.66666667%;
    }

    .reports-wrapper .col-sm-offset-1 {
        margin-left: 8.33333333%;
    }

    .reports-wrapper .col-sm-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 992px) {
    .reports-wrapper .col-md-1,
    .reports-wrapper .col-md-2,
    .reports-wrapper .col-md-3,
    .reports-wrapper .col-md-4,
    .reports-wrapper .col-md-5,
    .reports-wrapper .col-md-6,
    .reports-wrapper .col-md-7,
    .reports-wrapper .col-md-8,
    .reports-wrapper .col-md-9,
    .reports-wrapper .col-md-10,
    .reports-wrapper .col-md-11,
    .reports-wrapper .col-md-12 {
        float: left;
    }

    .reports-wrapper .col-md-12 {
        width: 100%;
    }

    .reports-wrapper .col-md-11 {
        width: 91.66666667%;
    }

    .reports-wrapper .col-md-10 {
        width: 83.33333333%;
    }

    .reports-wrapper .col-md-9 {
        width: 75%;
    }

    .reports-wrapper .col-md-8 {
        width: 66.66666667%;
    }

    .reports-wrapper .col-md-7 {
        width: 58.33333333%;
    }

    .reports-wrapper .col-md-6 {
        width: 50%;
    }

    .reports-wrapper .col-md-5 {
        width: 41.66666667%;
    }

    .reports-wrapper .col-md-4 {
        width: 33.33333333%;
    }

    .reports-wrapper .col-md-3 {
        width: 25%;
    }

    .reports-wrapper .col-md-2 {
        width: 16.66666667%;
    }

    .reports-wrapper .col-md-1 {
        width: 8.33333333%;
    }

    .reports-wrapper .col-md-pull-12 {
        right: 100%;
    }

    .reports-wrapper .col-md-pull-11 {
        right: 91.66666667%;
    }

    .reports-wrapper .col-md-pull-10 {
        right: 83.33333333%;
    }

    .reports-wrapper .col-md-pull-9 {
        right: 75%;
    }

    .reports-wrapper .col-md-pull-8 {
        right: 66.66666667%;
    }

    .reports-wrapper .col-md-pull-7 {
        right: 58.33333333%;
    }

    .reports-wrapper .col-md-pull-6 {
        right: 50%;
    }

    .reports-wrapper .col-md-pull-5 {
        right: 41.66666667%;
    }

    .reports-wrapper .col-md-pull-4 {
        right: 33.33333333%;
    }

    .reports-wrapper .col-md-pull-3 {
        right: 25%;
    }

    .reports-wrapper .col-md-pull-2 {
        right: 16.66666667%;
    }

    .reports-wrapper .col-md-pull-1 {
        right: 8.33333333%;
    }

    .reports-wrapper .col-md-pull-0 {
        right: auto;
    }

    .reports-wrapper .col-md-push-12 {
        left: 100%;
    }

    .reports-wrapper .col-md-push-11 {
        left: 91.66666667%;
    }

    .reports-wrapper .col-md-push-10 {
        left: 83.33333333%;
    }

    .reports-wrapper .col-md-push-9 {
        left: 75%;
    }

    .reports-wrapper .col-md-push-8 {
        left: 66.66666667%;
    }

    .reports-wrapper .col-md-push-7 {
        left: 58.33333333%;
    }

    .reports-wrapper .col-md-push-6 {
        left: 50%;
    }

    .reports-wrapper .col-md-push-5 {
        left: 41.66666667%;
    }

    .reports-wrapper .col-md-push-4 {
        left: 33.33333333%;
    }

    .reports-wrapper .col-md-push-3 {
        left: 25%;
    }

    .reports-wrapper .col-md-push-2 {
        left: 16.66666667%;
    }

    .reports-wrapper .col-md-push-1 {
        left: 8.33333333%;
    }

    .reports-wrapper .col-md-push-0 {
        left: auto;
    }

    .reports-wrapper .col-md-offset-12 {
        margin-left: 100%;
    }

    .reports-wrapper .col-md-offset-11 {
        margin-left: 91.66666667%;
    }

    .reports-wrapper .col-md-offset-10 {
        margin-left: 83.33333333%;
    }

    .reports-wrapper .col-md-offset-9 {
        margin-left: 75%;
    }

    .reports-wrapper .col-md-offset-8 {
        margin-left: 66.66666667%;
    }

    .reports-wrapper .col-md-offset-7 {
        margin-left: 58.33333333%;
    }

    .reports-wrapper .col-md-offset-6 {
        margin-left: 50%;
    }

    .reports-wrapper .col-md-offset-5 {
        margin-left: 41.66666667%;
    }

    .reports-wrapper .col-md-offset-4 {
        margin-left: 33.33333333%;
    }

    .reports-wrapper .col-md-offset-3 {
        margin-left: 25%;
    }

    .reports-wrapper .col-md-offset-2 {
        margin-left: 16.66666667%;
    }

    .reports-wrapper .col-md-offset-1 {
        margin-left: 8.33333333%;
    }

    .reports-wrapper .col-md-offset-0 {
        margin-left: 0;
    }
}

@media (min-width: 1200px) {
    .reports-wrapper .col-lg-1,
    .reports-wrapper .col-lg-2,
    .reports-wrapper .col-lg-3,
    .reports-wrapper .col-lg-4,
    .reports-wrapper .col-lg-5,
    .reports-wrapper .col-lg-6,
    .reports-wrapper .col-lg-7,
    .reports-wrapper .col-lg-8,
    .reports-wrapper .col-lg-9,
    .reports-wrapper .col-lg-10,
    .reports-wrapper .col-lg-11,
    .reports-wrapper .col-lg-12 {
        float: left;
    }

    .reports-wrapper .col-lg-12 {
        width: 100%;
    }

    .reports-wrapper .col-lg-11 {
        width: 91.66666667%;
    }

    .reports-wrapper .col-lg-10 {
        width: 83.33333333%;
    }

    .reports-wrapper .col-lg-9 {
        width: 75%;
    }

    .reports-wrapper .col-lg-8 {
        width: 66.66666667%;
    }

    .reports-wrapper .col-lg-7 {
        width: 58.33333333%;
    }

    .reports-wrapper .col-lg-6 {
        width: 50%;
    }

    .reports-wrapper .col-lg-5 {
        width: 41.66666667%;
    }

    .reports-wrapper .col-lg-4 {
        width: 33.33333333%;
    }

    .reports-wrapper .col-lg-3 {
        width: 25%;
    }

    .reports-wrapper .col-lg-2 {
        width: 16.66666667%;
    }

    .reports-wrapper .col-lg-1 {
        width: 8.33333333%;
    }

    .reports-wrapper .col-lg-pull-12 {
        right: 100%;
    }

    .reports-wrapper .col-lg-pull-11 {
        right: 91.66666667%;
    }

    .reports-wrapper .col-lg-pull-10 {
        right: 83.33333333%;
    }

    .reports-wrapper .col-lg-pull-9 {
        right: 75%;
    }

    .reports-wrapper .col-lg-pull-8 {
        right: 66.66666667%;
    }

    .reports-wrapper .col-lg-pull-7 {
        right: 58.33333333%;
    }

    .reports-wrapper .col-lg-pull-6 {
        right: 50%;
    }

    .reports-wrapper .col-lg-pull-5 {
        right: 41.66666667%;
    }

    .reports-wrapper .col-lg-pull-4 {
        right: 33.33333333%;
    }

    .reports-wrapper .col-lg-pull-3 {
        right: 25%;
    }

    .reports-wrapper .col-lg-pull-2 {
        right: 16.66666667%;
    }

    .reports-wrapper .col-lg-pull-1 {
        right: 8.33333333%;
    }

    .reports-wrapper .col-lg-pull-0 {
        right: auto;
    }

    .reports-wrapper .col-lg-push-12 {
        left: 100%;
    }

    .reports-wrapper .col-lg-push-11 {
        left: 91.66666667%;
    }

    .reports-wrapper .col-lg-push-10 {
        left: 83.33333333%;
    }

    .reports-wrapper .col-lg-push-9 {
        left: 75%;
    }

    .reports-wrapper .col-lg-push-8 {
        left: 66.66666667%;
    }

    .reports-wrapper .col-lg-push-7 {
        left: 58.33333333%;
    }

    .reports-wrapper .col-lg-push-6 {
        left: 50%;
    }

    .reports-wrapper .col-lg-push-5 {
        left: 41.66666667%;
    }

    .reports-wrapper .col-lg-push-4 {
        left: 33.33333333%;
    }

    .reports-wrapper .col-lg-push-3 {
        left: 25%;
    }

    .reports-wrapper .col-lg-push-2 {
        left: 16.66666667%;
    }

    .reports-wrapper .col-lg-push-1 {
        left: 8.33333333%;
    }

    .reports-wrapper .col-lg-push-0 {
        left: auto;
    }

    .reports-wrapper .col-lg-offset-12 {
        margin-left: 100%;
    }

    .reports-wrapper .col-lg-offset-11 {
        margin-left: 91.66666667%;
    }

    .reports-wrapper .col-lg-offset-10 {
        margin-left: 83.33333333%;
    }

    .reports-wrapper .col-lg-offset-9 {
        margin-left: 75%;
    }

    .reports-wrapper .col-lg-offset-8 {
        margin-left: 66.66666667%;
    }

    .reports-wrapper .col-lg-offset-7 {
        margin-left: 58.33333333%;
    }

    .reports-wrapper .col-lg-offset-6 {
        margin-left: 50%;
    }

    .reports-wrapper .col-lg-offset-5 {
        margin-left: 41.66666667%;
    }

    .reports-wrapper .col-lg-offset-4 {
        margin-left: 33.33333333%;
    }

    .reports-wrapper .col-lg-offset-3 {
        margin-left: 25%;
    }

    .reports-wrapper .col-lg-offset-2 {
        margin-left: 16.66666667%;
    }

    .reports-wrapper .col-lg-offset-1 {
        margin-left: 8.33333333%;
    }

    .reports-wrapper .col-lg-offset-0 {
        margin-left: 0;
    }
}

.reports-wrapper .pull-right {
    float: right !important;
}

.reports-wrapper .pull-left {
    float: left !important;
}

.reports-wrapper .hide {
    display: none !important;
}

.reports-wrapper .show {
    display: block !important;
}

.reports-wrapper .empty-state__icon {
    font-size: 80px !important;
}

.reports-wrapper .empty-state__title {
    color: #000;
}

.reports-wrapper .form-group {
    padding-bottom: 20px;
}

.reports-wrapper .form-control {
    width: 100%;
    display: block;
}

.reports-wrapper label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.reports-wrapper .close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}

.reports-wrapper .close:hover,
.reports-wrapper .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.reports-wrapper button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}

.reports-wrapper .modal-open {
    overflow: hidden;
}

.reports-wrapper .modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
    background: rgba(0, 0, 0, 0.6);
}

.reports-wrapper .modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.reports-wrapper .modal.in .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}

.reports-wrapper .modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.reports-wrapper .modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}

.reports-wrapper .modal-content {
    position: relative;
    background-color: #fff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: 0;
}

.reports-wrapper .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}

.reports-wrapper .modal-backdrop.fade {
    opacity: 0;
    filter: alpha(opacity=0);
}

.reports-wrapper .modal-backdrop.in {
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.reports-wrapper .modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.reports-wrapper .modal-header .close {
    margin-top: -2px;
}

.reports-wrapper .modal-title {
    margin: 0;
    line-height: 1.42857143;
}

.reports-wrapper .modal-body {
    position: relative;
    padding: 15px;
}

.reports-wrapper .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
    position: relative;
}

.reports-wrapper .modal-footer .btn + .btn {
    margin-left: 5px;
    margin-bottom: 0;
}

.reports-wrapper .modal-footer .btn-group .btn + .btn {
    margin-left: -1px;
}

.reports-wrapper .modal-footer .btn-block + .btn-block {
    margin-left: 0;
}

.reports-wrapper .modal-footer button,
.reports-wrapper .modal-footer .btn {
    float: none;
    width: auto;
}

.reports-wrapper .modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}

@media (min-width: 768px) {
    .reports-wrapper .modal-dialog {
        width: 600px;
        margin: 30px auto;
    }

    .reports-wrapper .modal-content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    }

    .reports-wrapper .modal-sm {
        width: 300px;
    }
}

.reports-wrapper .report-error {
    text-align: center;
    padding: 80px 0;
}

.reports-wrapper .report-error__icon {
    font-size: 80px;
}

.cricket-radio-inline {
    position: relative;
    display: inline-block !important;
    margin-bottom: 0;
    padding-left: 20px;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
}

.cricket-radio-inline + .cricket-radio-inline {
    margin-top: 0;
    margin-left: 10px;
}

.cricket-radio-inline input[type="radio"]{
    position: absolute;
    margin-left: -20px;
    margin-top: 4px;
}